<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>PostBlog</title>
</head>

<body>
  <div id="nav-container">
    <nav>
    <div>
      <a href="/">
        Home
      </a>
    </div>
    <div>
      <a href="/createBlog">
        Create
      </a>
    </div>
    <div>
      <a href="/readBlog">
        Blogs
      </a>
    </div>
  </nav>
  </div>
  <main>