<form action="/submit" method="post">
  <input type="text" placeholder="Title" required name="title">
  <input type="text" placeholder="Content" required name="content">
  <input type="text" placeholder="Author" required name="author">
  <input type="submit" value="Create Blog">
</form>