<%- include("partials/header.ejs") %>

<div class="welcome-container">
  <div>
    <div class="welcome-title">Welcome!</div>
    <div class="welcome-subtitle">Create your first blog</div>
    <div class="button-container">
      <a href="/createBlog" class="create-btn">CREATE</a>
      <a href="/readBlog" class="read-btn">READ</a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
