<%- include("partials/header.ejs") %>

<div>
  <div>
    <div>Welcome!</div>
    <div>Create your first blog</div>
    <div>
      <a href="/createBlog">CREATE</a>
      <a href="/readBlog">READ</a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>